Repository ME-EW/MEEW-Client, pull requests merged in 2021-11, with the labels that each got.

#5 🍱[ADD] : 폰트 에셋 추가
  MEEW-Client/MEEW-Client.xcodeproj/project.pbxproj
  MEEW-Client/MEEW-Client/Global/Resources/Colors/Color.xcassets/Contents.json
  MEEW-Client/MEEW-Client/Global/Resources/Colors/Color.xcassets/bg_darkgrey.colorset/Contents.json
  MEEW-Client/MEEW-Client/Global/Resources/Fonts/Spoqa Han Sans Neo Bold.otf
  MEEW-Client/MEEW-Client/Global/Resources/Fonts/Spoqa Han Sans Neo Light.otf
  MEEW-Client/MEEW-Client/Global/Resources/Fonts/Spoqa Han Sans Neo Medium.otf
  MEEW-Client/MEEW-Client/Global/Resources/Fonts/Spoqa Han Sans Neo Regular.otf
  MEEW-Client/MEEW-Client/Global/Resources/Fonts/Spoqa Han Sans Neo Thin.otf
  MEEW-Client/MEEW-Client/Info.plist
Labels: 👩🏻‍💻현주👩🏻‍💻, ✨선택뷰

#8 [✨FEAT] ToDo뷰 팝업 구현
  MEEW-Client/MEEW-Client.xcodeproj/project.pbxproj
  MEEW-Client/MEEW-Client/Global/Extensions/AppDelegate+.swift
  MEEW-Client/MEEW-Client/Global/Extensions/UIApplication+.swift
  MEEW-Client/MEEW-Client/Global/Extensions/UIView+.swift
  MEEW-Client/MEEW-Client/Global/Resources/Images/Assets.xcassets/icCloseBlack.imageset/Contents.json
  MEEW-Client/MEEW-Client/Global/Resources/Images/Assets.xcassets/icCloseBlack.imageset/icCloseBlack.png
  MEEW-Client/MEEW-Client/Global/Resources/Images/Assets.xcassets/icCloseBlack.imageset/icCloseBlack@2x.png
  MEEW-Client/MEEW-Client/Global/Resources/Images/Assets.xcassets/icCloseBlack.imageset/icCloseBlack@3x.png
  MEEW-Client/MEEW-Client/Screens/Base/Common/PopUpVC.swift
  MEEW-Client/MEEW-Client/Screens/Result/MEEWPopUp.swift
  MEEW-Client/MEEW-Client/Screens/Result/MEEWPopUp.xib
Labels: 🧑🏻‍💻태현🧑🏻‍💻, 🌱ToDo뷰

#9 ✨[FEAT] : TODO뷰 UI 구현
  MEEW-Client/MEEW-Client/Global/Supports/Base.lproj/Main.storyboard
  MEEW-Client/MEEW-Client/Info.plist
  MEEW-Client/MEEW-Client/Screens/ToDo/Controller/ToDoVC.swift
  MEEW-Client/MEEW-Client/Screens/ToDo/Storyboard/ToDoVC.storyboard
Labels: 👩🏻‍💻주민👩🏻‍💻, 🌱ToDo뷰

#11 ✨[FEAT] : ResultVC UI 구현
  MEEW-Client/MEEW-Client.xcodeproj/project.pbxproj
  MEEW-Client/MEEW-Client/Info.plist
  MEEW-Client/MEEW-Client/Screens/Result/Cell/ArchiveCVC.swift
  MEEW-Client/MEEW-Client/Screens/Result/Cell/ArchiveCVC.xib
  MEEW-Client/MEEW-Client/Screens/Result/Controller/ResultVC.swift
  MEEW-Client/MEEW-Client/Screens/Result/Storyboard/ResultVC.storyboard
Labels: 🧑🏻‍💻태현🧑🏻‍💻, 🌈결과뷰

#13 ✨[FEAT] : 체크박스 구현
  MEEW-Client/MEEW-Client/Screens/ToDo/Controller/ToDoVC.swift
  MEEW-Client/MEEW-Client/Screens/ToDo/Storyboard/ToDoVC.storyboard
Labels: 👩🏻‍💻주민👩🏻‍💻, 🌱ToDo뷰

#7 [#2][#3] Select View
  MEEW-Client/MEEW-Client.xcodeproj/project.pbxproj
  MEEW-Client/MEEW-Client/Global/Resources/Images/Assets.xcassets/img_1.imageset/Contents.json
  MEEW-Client/MEEW-Client/Global/Resources/Images/Assets.xcassets/img_1.imageset/IMG_2091.jpg
  MEEW-Client/MEEW-Client/Global/Resources/Images/Assets.xcassets/img_2.imageset/Contents.json
  MEEW-Client/MEEW-Client/Global/Resources/Images/Assets.xcassets/img_2.imageset/IMG_4578.jpg
  MEEW-Client/MEEW-Client/Global/Resources/Images/Assets.xcassets/img_3.imageset/Contents.json
  MEEW-Client/MEEW-Client/Global/Resources/Images/Assets.xcassets/img_3.imageset/IMG_4920.jpg
  MEEW-Client/MEEW-Client/Global/Resources/Images/Assets.xcassets/img_4.imageset/Contents.json
  MEEW-Client/MEEW-Client/Global/Resources/Images/Assets.xcassets/img_4.imageset/IMG_9715.JPG
  MEEW-Client/MEEW-Client/Global/Resources/Images/Assets.xcassets/img_5.imageset/Contents.json
  MEEW-Client/MEEW-Client/Global/Resources/Images/Assets.xcassets/img_5.imageset/IMG_4577.jpg
  MEEW-Client/MEEW-Client/Global/Resources/Images/Assets.xcassets/img_heart.imageset/Contents.json
  MEEW-Client/MEEW-Client/Global/Resources/Images/Assets.xcassets/img_heart.imageset/img_heart.png
  MEEW-Client/MEEW-Client/Global/Resources/Images/Assets.xcassets/img_heart.imageset/img_heart@2x.png
  MEEW-Client/MEEW-Client/Global/Resources/Images/Assets.xcassets/img_heart.imageset/img_heart@3x.png
  MEEW-Client/MEEW-Client/Global/Resources/Images/Assets.xcassets/img_honest.imageset/Contents.json
  MEEW-Client/MEEW-Client/Global/Resources/Images/Assets.xcassets/img_honest.imageset/img_honest.png
  MEEW-Client/MEEW-Client/Global/Resources/Images/Assets.xcassets/img_honest.imageset/img_honest@2x.png
  MEEW-Client/MEEW-Client/Global/Resources/Images/Assets.xcassets/img_honest.imageset/img_honest@3x.png
  MEEW-Client/MEEW-Client/Global/Resources/Images/Assets.xcassets/img_sky.imageset/Contents.json
  MEEW-Client/MEEW-Client/Global/Resources/Images/Assets.xcassets/img_sky.imageset/img_sky.png
  MEEW-Client/MEEW-Client/Global/Resources/Images/Assets.xcassets/img_sky.imageset/img_sky@2x.png
  MEEW-Client/MEEW-Client/Global/Resources/Images/Assets.xcassets/img_sky.imageset/img_sky@3x.png
  MEEW-Client/MEEW-Client/Global/Resources/Images/Assets.xcassets/img_sun.imageset/Contents.json
  MEEW-Client/MEEW-Client/Global/Resources/Images/Assets.xcassets/img_sun.imageset/img_sun.png
  MEEW-Client/MEEW-Client/Global/Resources/Images/Assets.xcassets/img_sun.imageset/img_sun@2x.png
  MEEW-Client/MEEW-Client/Global/Resources/Images/Assets.xcassets/img_sun.imageset/img_sun@3x.png
  MEEW-Client/MEEW-Client/Global/Resources/Images/Assets.xcassets/img_wind.imageset/Contents.json
  MEEW-Client/MEEW-Client/Global/Resources/Images/Assets.xcassets/img_wind.imageset/img_wind.png
  MEEW-Client/MEEW-Client/Global/Resources/Images/Assets.xcassets/img_wind.imageset/img_wind@2x.png
  MEEW-Client/MEEW-Client/Global/Resources/Images/Assets.xcassets/img_wind.imageset/img_wind@3x.png
  MEEW-Client/MEEW-Client/Info.plist
  MEEW-Client/MEEW-Client/Screens/Select/Cell/SelectCharacterCVC.swift
  MEEW-Client/MEEW-Client/Screens/Select/Cell/SelectCharacterCVC.xib
  MEEW-Client/MEEW-Client/Screens/Select/Cell/SelectCharcterDataModel.swift
  MEEW-Client/MEEW-Client/Screens/Select/Controller/SelectVC.swift
  MEEW-Client/MEEW-Client/Screens/Select/Storyboard/SelectVC.storyboard
Labels: 👩🏻‍💻현주👩🏻‍💻, ✨선택뷰

#16 ✅[CHORE] : SelectionVC에서 ToDoVC로 화면전환
  MEEW-Client/MEEW-Client/Screens/Select/Controller/SelectVC.swift
  MEEW-Client/MEEW-Client/Screens/ToDo/Controller/ToDoVC.swift
Labels: 👩🏻‍💻주민👩🏻‍💻, 🌱ToDo뷰, ✨선택뷰

#18 ✅[CHORE] : 디자인 수정
  MEEW-Client/MEEW-Client/Screens/ToDo/Storyboard/ToDoVC.storyboard
Labels: 👩🏻‍💻주민👩🏻‍💻, 🌱ToDo뷰

#20 ✅[CHORE] : 코드 수정
  MEEW-Client/MEEW-Client.xcodeproj/project.pbxproj
  MEEW-Client/MEEW-Client/Screens/ToDo/Controller/ToDoVC.swift
  MEEW-Client/MEEW-Client/Screens/ToDo/Storyboard/ToDoVC.storyboard
Labels: 👩🏻‍💻주민👩🏻‍💻, 🌱ToDo뷰
